spring:
  datasource:
    url: jdbc:mysql://${MYSQL_URL}/${MYSQL_DATABASE}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  security:
    user:
      name: "dlawjddn"
      password: "dlawjddn"

springdoc:
  swagger-ui:
    path: /api-docs
    use-root-path: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE
    org.springframework.security: DEBUG
    web: debug

security:
  oauth:
    github:
      client-id: ${GITHUB_CLIENT_ID}
      client-secret: ${GITHUB_CLIENT_SECRET}
jwt:
  secret: ${JWT_SECRET}
  access-token:
    expiration: ${TOKEN_EXPIRATION}
  refresh-token:
    expiration: ${REFRESH_EXPIRATION}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region: ${AWS_REGION}
